body {
    background: linear-gradient(90deg,
            rgb(115, 187, 252) 0%,
            rgb(23, 81, 149) 100%);
    color: #142d4c;
    font-family: 'Azeret Mono', monospace;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 5px auto 0;
}

a {
    text-decoration: none;
}

.city-day-time p {
    text-align: center;
    margin: 5px auto;
}

.date-time {
    font-size: 25px;
}

.temp {
    font-size: 60px;
    font-weight: bolder;
}

.units,
.units-link {
    font-size: 20px;
    top: -13px;
    left: -20px;
    position: relative;
}



.current-weather {
    font-size: 40px;
}

.main {
    height: 400px;
    width: 450px;
    margin: 100px auto;
    background: #bcdbdf;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 25px 17px 37px #142d4c;
    text-align: center;
}

#input-form {
    display: block;
}

#city-input {
    width: 60%;
    height: 30px;
    font-size: 17px;
    border-radius: 15px;
    border-color: #142d4c;
    background-color: #edf7fa;
    font-family: 'Azeret Mono', monospace;
}

#search-button {
    height: 36px;
    width: 80px;
    font-size: 17px;
    border-radius: 15px;
    border: none;
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.4);
    background-color: #142d4c;
    color: #edf7fa;
    font-family: 'Azeret Mono', monospace;
}

/* #current-button {
    background-color: green;
} */

#search-button:active {
    box-shadow: none;
}

.weather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 10px auto;
    font-size: 20px;
}

.current-emoji {
    height: 125px;
    margin: 0 auto;
}

/* .five-day {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 20px;
} */

.footer {
    text-align: center;
    margin-top: -80px;
    font-size: smaller;
}