body {
    background: linear-gradient(90deg,
            rgb(115, 187, 252) 0%,
            rgb(23, 81, 149) 100%);
    color: #22313f;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 5px auto 0;
}

.city-day-time p {
    text-align: center;
    margin: 5px auto;
}

.date-time {
    font-size: 30px;
}

.temp {
    font-size: 60px;
    font-weight: bolder;
}

.current-weather {
    font-size: 40px;
}

.main {
    height: 425px;
    width: 500px;
    margin: 100px auto;
    background: #e4f1fe;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 25px 17px 37px rgba(0, 0, 0, 0.4);
    text-align: center;
}

#input-form {
    display: block;
}

#city-input {
    width: 60%;
    height: 30px;
    font-size: 17px;
    border-radius: 15px;
    border-color: #22313f;
}

#search-button {
    height: 36px;
    width: 80px;
    font-size: 17px;
    border-radius: 15px;
    border: none;
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.4);
    background-color: rgb(23, 81, 149);
    color: #e4f1fe;
}

/* #current-button {
    background-color: green;
} */

#search-button:active {
    box-shadow: none;
}

.weather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 10px auto;
    font-size: 20px;
}

.current-emoji {
    height: 125px;
    margin: 0 auto;
}

.five-day {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 20px;
}

.footer {
    text-align: center;
    margin-top: -60px;
}